<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Travel World</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>
  <body background="https://scontent.fblr7-1.fna.fbcdn.net/v/t31.0-8/23213298_128755171176807_7649637594963973686_o.jpg?_nc_cat=104&_nc_oc=AQmHY4W3_Yn8JJj3t8eEMEStjOFPGx9Gi62VaYQ8UrNEV_Tqvx9h5QeJNzr0Q3zBIgw&_nc_ht=scontent.fblr7-1.fna&oh=51726f097a9edd195ba2deed1ac23711&oe=5DEB9283">
    <nav class="navbar  navbar-light bg-transparent justify-content-between">
      <a class="navbar-brand">explore</a>
      <form class="form-inline" type="POST">
        <input class="form-control mr-sm-2" type="username" placeholder="username" aria-label="Username">
        <input class="form-control mr-sm-2" type="password" placeholder="password" aria-label="Password">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
      </form>
    </nav>
  </body>
</html>
